body {
    background-image: url('./assets/river2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}

.tabla {
    position: static;
    bottom: 0;
    width: 100%;
    height: 100px;
    margin-top: 550px;
}